<%- include ('header'); -%>
<section id="body">
    <div class="title">
        <h3>Welcome to  </h3>
        <h1>Our Bank</h1>

        <span class="details ">(Developed by Kajal Jha)</span>
    </div>
</section>
<%- include ('footer'); -%>
