<%- include ('header'); -%>
<div id="success">
    <img class = "tick" src="assets/transaction_successfull.gif">
    <h1 style="color:rgb(10, 186, 110);text-align: center;">Transaction Succcessful</h1>
    <a href="/transaction"><button class="btn btn-success" >View Transaction Details</button></a>
</div>

<%- include ('footer'); -%>